<%= render 'layouts/navigation' %>
You are going to: <b><%= @trip.city %></b><br>
Your trip starts: <b><%= @trip.start_time %></b><br>
Your trip ends: <b><%= @trip.end_time %></b>
<br><br>

<div class = "container-fluid">

  <% has_votes = false %>
  <% @trip.trip_attractions.each do |attraction| %>
      <% if attraction.vote_count > 0 %>
          <% has_votes = true %>
          <% break %>
      <% end %>
  <% end %>

      <div class = "row">
        <button><%= link_to "View Itinerary", show_itinerary_path(:trip_id => params[:id])%></button>
      </div><br>
      <% if has_votes %>
          Attractions you've upvoted for this trip:

            <% @trip.trip_attractions.each do |trip_attraction| %>
                <% if trip_attraction.vote_count > 0 %>
                  <% attraction = Attraction.find(trip_attraction.attraction_id) %>
                  <li>
                    <label for="destination"><h4 class="list-group-item-heading">
                      <%= link_to attraction.name, attraction_show_by_id_path(attraction.id) %> </h4></label>
                        Current vote: <%= trip_attraction.vote_count %>
                  </li>
                <% end %>
            <% end %>
      <% else %>
          You haven't upvoted any attractions for this trip. Hurry, go vote! :D
        <% end %>
<%= render 'layouts/footer' %>
