<%= render 'layouts/navigation' %>
<div class = "container">
  <div class="row">
    <div class="container">
        <b>To invite your friends send them this link:</b><br>
        <%= request.base_url + request.path %>/?invitation_code=<%= @trip.uuid%>
    </div>
  </div>
    <div class="row">
        <h1> Your Itinerary for <%= @trip.city %> </h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="itinerary">

            <% attraction_count = 0 %>
            <% for trip_attraction in @itinerary %>
                <% start_time = trip_attraction.start_time %>
                <% end_time = trip_attraction.end_time %>
                <% if trip_attraction.lunch %>

                    <h3><%= start_time.strftime('%H:%M') %> - <%= end_time.strftime('%H:%M') %> </h3>
                    <h4> Enjoy Lunch in the Area :) </h4>
                    <img src="http://cdn.sheknows.com/articles/2012/05/grab_your_fork.jpg">
                <% else %>
                    <% if attraction_count % Trip::NUM_ATTRACTIONS == 0%>
                        <h2>DAY <%= attraction_count / Trip::NUM_ATTRACTIONS + 1%>
                        (<%= start_time.strftime('%a %m/%d/%Y')%>)</h2>
                    <% end %>
                    <% attraction = Attraction.find(trip_attraction.attraction_id) %>

                    <h3><%= start_time.strftime('%H:%M') %> - <%= end_time.strftime('%H:%M') %> </h3>

                    <h4><%= attraction.name %></h4>
                    <img src=<%= Picture.find(attraction.picture_id).path %>><br>
                    
                    <p>
                    <b>Category: </b> <%= attraction.category %><br>
                    <b>Tip from FourSquare: </b><%= attraction.description %><br>
                    <b>Address: </b><%= attraction.address%><br>
                    <b>FourSquare Rating: </b><%= attraction.rating %>/10<br>
                    <%= link_to attraction.url , attraction.url %>
                    <% attraction_count += 1 %>
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
