<%= render 'layouts/navigation' %>
<div class = "container">
  <div class="row">
    <div class="container">
      <p>
        <b>To invite your friends send them this link:</b><br>
        <%= request.base_url + request.path %>/?invitation_code=<%= @trip.uuid%><br><br>
        <b>People in this trip:</b><br>
        <% user_trips = UserTrip.select("user_id").where(trip_id: @trip.id) %>
        <% user_trips.each do |user_trip| %>
          <%= User.find(user_trip.user_id).email %><br>
        <% end %>
      </p>
    </div>
  </div>
    <div class="row center">
        <h1> Your Itinerary for <%= @trip.city %> </h1>
         <%= link_to "Edit Votes", show_attractions_path(destination: @trip.city, startdate: @trip.start_time.strftime('%m/%d/%Y'), enddate: @trip.end_time.strftime('%m/%d/%Y')), :class => "btn btn-default" %>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="itinerary">

          <% attraction_count = 0 %>
          <% num_days = 0 %>
          <% for trip_attraction in @itinerary %>
              <% start_time = trip_attraction.start_time %>
              <% end_time = trip_attraction.end_time %>
              <% if trip_attraction.lunch %>
                  <h3><%= start_time.strftime('%H:%M') %> - <%= end_time.strftime('%H:%M') %> </h3>
                  <h4> Enjoy Lunch in the Area :) </h4>
                  <img src="http://cdn.sheknows.com/articles/2012/05/grab_your_fork.jpg">
              <% else %>
                  <% if attraction_count % Trip::NUM_ATTRACTIONS == 0%>
                      <% num_days += 1 %>
                      <h2>DAY <%= attraction_count / Trip::NUM_ATTRACTIONS + 1%>
                        (<%= start_time.strftime('%a %m/%d/%Y')%>)</h2>
                  <% end %>
                  <% attraction = Attraction.find(trip_attraction.attraction_id) %>

                  <h3><%= start_time.strftime('%H:%M') %> - <%= end_time.strftime('%H:%M') %> </h3>

                  <h4><%= attraction.name %></h4>
                  <img src=<%= Picture.find(attraction.picture_id).path %>><br>
                  <p>
                    <b>Category: </b> <%= attraction.category %><br>
                    <b>Tip from FourSquare: </b><%= attraction.description %><br>
                    <b>Address: </b><%= attraction.address%><br>
                    <b>FourSquare Rating: </b><%= attraction.rating %>/10<br>
                    <%= link_to attraction.url , attraction.url %>
                    <% attraction_count += 1 %>
                  </p>
              <% end %>
          <% end %>
          <% if attraction_count < Trip::NUM_ATTRACTIONS * (@trip.end_time - @trip.start_time).to_i%>
            <h2>Sorry, we've run out of attractions for <%= @trip.city %></h2>
          <% end %>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
