<html>
<body>
  <%= render 'layouts/navigation' %>
    <div id = "user_info">
      <h3>Hi there, <b><%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></h3></b>

      <ul><p><b>YOUR EMAIL:</b> <%= @user.email if @user.email %></p></ul>
      <br><br>

    </div>

    <div id = "trips">
        <% if @user.trips.empty? %>
            <h4><%= link_to "You have no trips! Hurry go make some :D", root_path %></h4>
        <% else %>
            <h3>Your Trips:</h3>
            <h5><%= link_to "Create another trip", root_path %></h5>
            <ul>
              <% @user.trips.each do |trip| %>
                  <% has_itinerary = false %>
                  <% trip.trip_attractions.each do |attraction| %>
                      <% if attraction.start_time != nil %>
                          <% has_itinerary = true %>
                          <% break %>
                      <% end %>
                  <% end %>
                  <h3><%= trip.city %></h3>
                  <%= trip.start_time %></li> to <%= trip.end_time %><br><%= trip.note %>
                  <%= link_to "Revote", show_attractions_path(:destination => trip.city) %>
                  <%= link_to "View votes", trip_show_path(:id => trip.id) %>
                  <% if has_itinerary %>
                      <%= link_to "view previous itinerary", show_itinerary_path(trip.id) %>
                  <% else %>
                      <%= link_to "generate an itinerary", generate_itinerary_path(trip.id) %>
                  <% end %>
                  <%= button_to "delete this trip", delete_trip_path(trip.id) %><br>
              <% end %>
            </ul>
        <% end %>
        <br><br><br>
    </div>
</body>
</html>