<%= @attraction.picture_id %>
<br>
<h3><%= @attraction.name %></h3><br>
<%= @attraction.city %><br>
Tags: <%= @attraction.category %><br>
<%= @attraction.description %><br>
<%= @attraction.address %><br>
<%= @attraction.rating %>/10<br>

Opens: <%= @attraction.start_time %><br>
Closes: <%= @attraction.end_time %>
