<!DOCTYPE html>
<html>

<head>
<title>iTinerary</title>
<!--jQuery References-->
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20152.78.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
      $("#startdate").wijinputdate(
              {
                  showTrigger: true
              });
      $("#enddate").wijinputdate(
              {
                  showTrigger: true
              });
  });
</script>
</head>

<body id="attractions-show-body">
<% if flash[:error] %>
    <div class="notice"><b><%= flash[:error] %></b></div>
<% end %>
<% if user_signed_in? %>
    logged in as <%= current_user.email %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <br>
    <%= link_to 'Go to your dashboard', user_show_path %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %> |
    <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>


<div class="row">
<h1>iTinerary</h1>
</div>

<div id="date-form" class="row">
    <form class="form-inline" method='post' action='welcome/save'>

        <label for="destination">Destination</label>
        <input name="destination" class ="form-control" type="text"value="<%= params[:destination] %>" required>


        <label for="startdate">Arrival Date</label>
        <input name="startdate" class ="form-control" type="text" id="startdate" />
        <label for="enddate">Departure Date</label>
        <input name="enddate" class ="form-control" type="text" id="enddate" />

      <input class ="btn btn-default" type="submit" value="Submit"/>
      </form>
</div>

    <div class = "row">
        <% if @show_attractions %>
            <h1>Attractions around <%= params[:destination] %></h1>
        <% end %>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id = "attraction-group" class = "list-group">
        <form class="form-inline" method='post' action='attractions/'>
        <input class ="btn btn-default" type="submit" value="Submit"/>
          <input type="hidden" name="destination" value="<%= params[:destination] %>" />
          <input type="hidden" name="startdate" value="<%= params[:startdate] %>" />
          <input type="hidden" name="enddate" value="<%= params[:enddate] %>" />
          <% Attraction.where('city = ?', params[:destination]).find_each  do |attraction| %>
            <div class="list-group">
              <li class="list-group-item">
                  <label for="destination"><h4 class="list-group-item-heading"> <%= link_to attraction.name, attraction_show_by_id_path(attraction.id) %> </h4></label>
                  <p class="list-group-item-text">
                  (Foursquare Rating: <%= attraction.rating %>/10)</b>
                  <br> <%= attraction.description %>
                  <br> Current Voted Rating: <br>
                  <br> Your Vote: <input type="radio" name=<%= attraction.id %> value="1"> 1
                    <input type="radio" name=<%= attraction.id %> value="0" checked="checked"> 0
                    <input type="radio" name=<%= attraction.id %> value="-1"> -1
                </p>
              </li>
            </div>
          <% end %>
      </div>


    Attraction data gathered using Foursquare API.
    </div>
    <div class="col-md-1"></div>
    </div>
  </div>

</body>

</html>
