<!DOCTYPE html>
<html>

<head>
<title>iTinerary</title>
<!--jQuery References-->
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20152.78.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
      $("#startdate").wijinputdate(
              {
                  showTrigger: true
              });
      $("#enddate").wijinputdate(
              {
                  showTrigger: true
              });
  });
</script>
</head>

<body>
<% if flash[:error] %>
    <div class="notice"><b><%= flash[:error] %></b></div>
<% end %>
<h1>iTinerary</h1>
    <form method='post' action='welcome/save'>
	  Destination:<br>
	  <input type="text" name="destination" value="<%= params[:destination] %>" required>
	  <br>
      Start Date:<br>
      <input name="startdate" type="text" id="startdate" /><br>
      End Date:<br>
      <input name="enddate" type="text" id="enddate" /><br><br>
      <br>
      <input type="submit" value="Submit"/>
    </form>
    <% if @show_attractions %>
        <h1>Attractions in <%= params[:destination] %></h1>
            <% Attraction.where('city = ?', params[:destination]).find_each  do |attraction| %>
                <li> <b><%= attraction.name %> </b> : <%= attraction.description %></li>
            <% end %>
    <% end %>

</body>

</html>