<!DOCTYPE html>
<html>

<head>
<title>iTinerary</title>
<!--jQuery References-->
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20152.78.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
      var $_GET = {};
      if(document.location.toString().indexOf('?') !== -1) {
          var query = document.location
                         .toString()
                         // get the query string
                         .replace(/^.*?\?/, '')
                         // and remove any existing hash string (thanks, @vrijdenker)
                         .replace(/#.*$/, '')
                         .split('&');
          for(var i=0, l=query.length; i<l; i++) {
             var aux = decodeURIComponent(query[i]).split('=');
             $_GET[aux[0]] = aux[1];
          }
      }
      $("#startdate").wijinputdate(
              {
                  showTrigger: true
              });
      $("#enddate").wijinputdate(
              {
                  showTrigger: true
              });
      var start = $_GET['startdate'].split("-")
      var end = $_GET['enddate'].split("-")
      startday = start[2].split("T")
      endday = end[2].split("T")
      startmonth = (parseInt(start[1])-1).toString()
      endmonth = (parseInt(end[1])-1).toString()
      var startjs = new Date(start[0], startmonth, startday[0]);
      var endjs = new Date(end[0], endmonth, endday[0]);
      $("#startdate").wijinputdate("option", "date", startjs.toString());
      $("#enddate").wijinputdate("option", "date", endjs.toString());
  });
</script>
</head>

<body id="attractions-show-body">



<% if flash[:error] %>
    <div class="notice"><b><%= flash[:error] %></b></div>
<% end %>
<%= render 'layouts/navigation' %>


<div class="row">
<h1>iTinerary</h1>
</div>

<div id="date-form" class="row">
    <form class="form-inline" method='post' action='welcome/save'>

        <label for="destination">Destination</label>
        <input name="destination" class ="form-control" type="text"value="<%= params[:destination].titleize %>" required>

        <label for="startdate">Arrival Date</label>
        <input name="startdate" class ="form-control" type="text" id="startdate" />
        <label for="enddate">Departure Date</label>
        <input name="enddate" class ="form-control" type="text" id="enddate" />

      <input class ="btn btn-default" type="submit" value="Submit"/>
      </form>
</div>

<div class = "row">
  <% if @show_attractions %>
      <h1>Attractions around <%= params[:destination].titleize %></h1>
  <% end %>

</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div id = "attraction-group" class = "list-group">
      <form class="form-inline" method='post' action='attractions/'>
      <input class ="btn btn-default" type="submit" id="first-go" value="Let's go!"/>
        <input type="hidden" name="destination" value="<%= params[:destination] %>" />
        <input type="hidden" name="startdate" value="<%= params[:startdate] %>" />
        <input type="hidden" name="enddate" value="<%= params[:enddate] %>" />
        <% Attraction.where('city = ?', params[:destination].titleize).find_each  do |attraction| %>
          <div class="list-group">
            <li class="list-group-item">
                <label for="destination"><h4 class="list-group-item-heading"> <%= link_to attraction.name, attraction_show_by_id_path(attraction.id) %> </h4></label>
                <p class="list-group-item-text">
                (Foursquare Rating: <%= attraction.rating %>/10)</b>
                <br> <%= attraction.description %> <br>

                <br> <b>Do you want to go here?</b> 
                <br>
                <input type="radio" id = "-1 <%= attraction.name %>" name=<%= attraction.id %> value="-1"> No&#x1F62D;
                <input type="radio" id = "0 <%= attraction.name %>" name=<%= attraction.id %> value="0" checked="checked"> Maybe &#x1F60F;
                <input type="radio" id = "1 <%= attraction.name %>" name=<%= attraction.id %> value="1"> Yes&#x1F603;
                </p>
            </li>
          </div>
        <% end %>
        <input class ="btn btn-default" type="submit" value="Let's go!"/>
        <br><br><br>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


  <%= render 'layouts/footer' %>


</body>

</html>
